$white: #ffffff;
$black: #000000;
$orange: #f59e0b;
$orange-hover: #ce8200;
$blue: #0c6dfd;
$gray: #5e656b;
$green: #21c55d;
$red: rgb(244, 56, 56);
$off-white: #ddd;
$off-gray: hsl(205.71deg 8.86% 30.98%);
